<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            
            <p:inputText   id="codeRegion"  value="#{controleur.codeRegion}" />
                     
      
            <p:commandButton value="ok" action="#{controleur.recherche()}"/>
            <br/>
            <h:outputText value="Nom : #{controleur.reg.nomRegion}"/>
            <br/>
            <h:outputText value="Nb de clients : #{controleur.nbClients}"/>  
            <br/>
            <h:outputText value="Chiffre d'affaire : #{controleur.reg.caRegion(2018)}"/>  
        </h:form>
    </h:body>
</html>

